fastapi==0.115.8
uvicorn[standard]==0.34.0
pydantic==2.10.6
pydantic-settings==2.7.1
aiokafka==0.12.0
sqlalchemy==2.0.38
psycopg2-binary==2.9.10
redis==5.2.1
celery==5.4.0
prometheus-client==0.21.1
prometheus-fastapi-instrumentator==7.0.2
